<div class="col-xs-12">
    <h2>Patient Information</h2>
</div>
<div class="col-md-7" style="background-color:lavender;">
        <div class="container container-fluid">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Name : {{patientsel.name}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                     <h4>Email : {{patientsel.email}}</h4> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                      <h4> Gender : {{patientsel.gender}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                     <h4> Reserved day : {{patientsel.day}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                     <h4> Reserved time : {{patientsel.time}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                     <h4>Medical History : {{patientsel.medicalhistory}}</h4> 
                    </div>
                </div>
        </div>
 </div>