<app-doctorheader></app-doctorheader>

<div class="body">

      <!--this is a form -->
       
  <form #totalForm="ngForm" (ngSubmit)="log(totalForm)"  id='myForm' >    
         <!---the logo-->
      <img src="assets\logo1.png" alt="Medico logo">     
      
          <p>please specify your available days and time for your appointments:</p>
      
  <hr>                         <!--horizontal line-->
      <div class='appoint'>
  

        <!-- follwing part is the service type text box-->

        <div class="form-group">
        <label class="form-label" for="serviceType">Service Type</label>
        <input required 
          
        ngModel name="serviceType" id="serviceType"
        #serviceType="ngModel" 
        (click)="log(serviceType)" 
        type="text"
         class="form-control"
         placeholder="Enter service type">
         <span class="help-block" *ngIf="!serviceType.valid &&serviceType.touched">Please enter a valid service type!</span>
        </div>
         <!-- follwing part is thefees text box-->
         <div class="form-group">
   
   <label class="form-label" for="fees">fees</label>
   <input required   
   ngModel name="fees" id="fees"
   #fees="ngModel" 
   (click)="log(fees)" 
   type="text"
    class="form-control"
    placeholder="Enter fees">
  

    <span class="help-block" *ngIf="!fees.valid && fees.touched">Please enter a valid fees!</span>
</div>
 <!-- follwing part is the first day text box-->
<div class="form-group">
      
           <label class="form-label" for="firstDay">first available day</label>
          <input required 
            
          ngModel name="firstDay" id="firstDay"
          #firstDay="ngModel" 
          (click)="log(firstDay)" 
          type="text"
           class="form-control"
           placeholder="Enter day">

           <span class="help-block" *ngIf="!firstDay.valid && firstDay.touched">Please enter a valid day!</span>

        </div>
           <div class="form-group">
           <!-- follwing part is the second day text box-->
           <label class="form-label" for="secondDay">last available day</label>
          <input required 
         
          ngModel name="secondDay" id="secondDay"
          #secondDay="ngModel" 
          (click)="log(secondDay)" 
          type="text"
           class="form-control"
           placeholder="Enter Day">
        
           <span class="help-block" *ngIf="!secondDay.valid && secondDay.touched">Please enter a valid day!</span>
        </div>
  
  <!--next is the text box for first hour-->
  
  
  <div class="form-group">
         
      <label class="form-label" for="firstHour">first available hour</label>
     <input 
     required 
     
     ngModel name="firstHour" id="firstHour"
     #firstHour="ngModel" 
     (click)="log(firstHour)" 
     type="text"
      class="form-control"
      placeholder="Enter hour">
  
      <span class="help-block" *ngIf="!firstHour.valid && firstHour.touched">Please enter a valid hour!</span>

    </div>
  <!--next is the text box for last hour-->
  
  <div class="form-group">
     <label class="form-label" for="secondHour">last available hour</label>
     <input 
     required 
    
     ngModel name="secondHour" id="secondHour"
     #secondHour="ngModel" 
     (click)="log(secondHour)" 
     type="text"
      class="form-control"
      placeholder="Enter hour">
    
        <span class="help-block" *ngIf="!secondHour.valid && secondHour.touched">Please enter a valid hour!</span>
    </div>
   
  

  


  <!---------------button that's disabled until valid answers are entered---------------------->
  
  <button class="btn btn-primary btn-block mb-4"
   [disabled]="!totalForm.valid" 
   (click)="setAppointment(firstDay,secondDay,firstHour,secondHour,serviceType,fees)"
   (click)="route()">
   Submit</button>
  
  
   <div  *ngIf="totalForm.valid" > 
      <p>you've just chosen that you're available from {{totalForm.value.firstDay}} to {{totalForm.value.secondDay}} </p>
      <p>from  {{totalForm.value.firstHour}} pm to {{totalForm.value.secondHour}} pm </p>
      <p>and your fees is {{totalForm.value.fees}} </p>
      <p>and you offer {{totalForm.value.serviceType}} </p>
      <p>press submit to confirm .</p>
      </div>
  </div>
  </form>
  <p>.</p>
  </div>
